<!doctype html>
<html lang="en">
    <head>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&?key=AIzaSyAX8ZAOlyRxOPdDNnvXJNuvFY8jRYb8hrQ&sensor=false&libraries=visualization"></script> 
        <script src="{{ asset('bundles/c4cgreenme/js/bootstrap.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ asset('bundles/c4cgreenme/js/scripts.js') }}"></script>
        <script src="{{ asset('bundles/c4cgreenme/js/map.js') }}"></script>

        <!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"> -->
        <link href='http://fonts.googleapis.com/css?family=Finger+Paint|Just+Me+Again+Down+Here|Titillium+Web|Indie+Flower' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/c4cgreenme/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/c4cgreenme/css/style.css') }}">

        <meta charset="UTF-8">
        <title>Green.me | User panel</title>

    </head>
    <body class="body">
        <div class="container">
            <div class="header row-fluid">
                <div class="span12">
                    <img src="{{ asset('bundles/c4cgreenme/img/logo.png') }}" alt="" class="logo" />
                </div>
            </div>
                    {% block content %}
                    {% endblock %}
        </div>
            <div class="row-fluid">
                <div class="span12 footer">

                </div>
            </div>


    </body>
</html>